<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<head><title>Q&A답변하기</title></head>
<body> 
	<h2>게시판 [관리자용]</h2> <hr>
	<span style="color:blue">관리자</span>님, 답변을 작성해 주세요.<br> 
	<hr><p>
	<div th:replace="~{qaList :: qaTable}"></div>
	<form method="post" action="/qa/answer">
		답변 입력:<br>
		no: <input type="number" name="no" required> <br>
		<textarea name="answer" rows="4" cols="50" required></textarea>
		<input type="submit" value="답변등록">
	</form><p>
	<a href="/menu">메뉴로 돌아가기</a> 
</body>
</html>